body {
    height: 100%;
    width: 100%;
    justify-content: center;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.main {
    border: 3px inset;
    margin: 2rem;
    height: 90%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #F5F5F5;
}

.allowlist-head {
    display: flex;
    align-items: center;
    margin: 8px;
}

.allowlist-head h2 {
    width: 20%;
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.controls h3 {
    width: fit-content;
    text-align: center;
    line-height: 40px;
    padding-left: 8px;
}

.controls label, .controls input, .controls select, .controls button {
    height: 24px;
}

.controls label {
    line-height: 24px;
}

.add-entry, .delete-entry {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}



.add-entry-input, .delete-entry-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    padding: 8px 10px;
}


#delete_value,
#suggestions_dropdown {
    width: 200px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

#allowlist-tbl{
    table-layout:auto;
    width:100%;
    margin: auto;
    display: flex;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    text-align: center;
    height: 40px;
    word-break: break-word;
    white-space: normal;
    padding: 8px 16px;
}

table th {
    border: 1px #B5B5B5 solid;
    height: 32px;
}

.table-header {
    box-shadow: 1px 1px 5px hsl(0, 0%, 25%);
}

.table-button {
    font-size: 2em;
    padding: 0;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: red;
    cursor: pointer;
}

#tbl-value{
    width:70%;
}

#tbl-type{
    width:10%;
}

.type-tag {
    border-radius: 10px;
    color: #F5F5F5;
    padding: 4px;
    width: fit-content;
    text-align: center;
    margin: auto;
    box-shadow: 3px 3px 5px #65828c8f;
}
